---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
import EdTimeElement from "../components/cv/EdTimeElement.astro";
---

<BaseLayout title="Dimitrios Gerogiannis CV" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Curriculum Vitae</div>
  </div>

  <div class="mb-3">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-8">
    <EdTimeElement
      date="2022 - 2026"
      educationTitle="PhD in Computing"
      university="Imperial College London, London, United Kingdom"
      studyCenterUrl="https://www.imperial.ac.uk/"
      additionalInfo={[
        { text: "Digital Humans" },
        { text: "Diffusion Models" },
        { text: "4D Animation" }
      ]}
      supervisor="Professor Stefanos Zafeiriou"
      supervisorUrl="https://www.imperial.ac.uk/people/s.zafeiriou"
    />
    <EdTimeElement
      date="2017 - 2022"
      educationTitle="BSc + MEng in Computer Science"
      university="University of Patras, Patras, Greece"
      studyCenterUrl="https://www.upatras.gr/en/"
      additionalInfo={[
        { text: "GPA: 9.15/10 (Valedictorian, Class of 2022)" },
        { text: "Diploma Thesis Title: Robust image alignment under severe photometric distortions" }
      ]}
      advisor="Professor Emmanouil Z. Psarakis"
      advisorUrl="http://xanthippi.ceid.upatras.gr/people/psarakis/personal_gr.php"
    />
  </div>

  <div class="mb-3">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <EdTimeElement
      date="January 2024 - Present"
      educationTitle="Research Scientist Intern"
      university="Alloyed Limited, Oxford, United Kingdom"
      studyCenterUrl="https://alloyed.com/"
      additionalInfo={[
        { text: "Contributing to the ”Digital Qualification Platform for Advanced Alloy Components” project, a collaborative effort led by Alloyed with Imperial College London and other institutions. Representing Imperial’s side, I am an integral part of the computer vision team." }
      ]}
    />
    <EdTimeElement
      date="October 2022 - Present"
      educationTitle="Graduate Teaching Assistant"
      university="Imperial College London, London, UK"
      studyCenterUrl="https://www.imperial.ac.uk/"
      additionalInfo={[
        { text: "Supporting the following modules:" },
        { text: "Computer Vision (60006)", url: "https://www.imperial.ac.uk/computing/current-students/courses/60006/" },
        { text: "Introduction to Machine Learning (70050)", url: "https://www.imperial.ac.uk/computing/current-students/courses/70050/" },
        { text: "Introcution to Databases (40007)", url: "https://www.imperial.ac.uk/computing/current-students/courses/40007/" }
      ]}
    />
  </div>

  <div class="mb-3">
    <div class="text-3xl w-full font-bold">Awards and Honors</div>
  </div>

  <div class="time-line-container mb-10">
    <EdTimeElement
      date="2022-2023"
      educationTitle="Student Excellence Award"
      university="States Scholarships Foundation, Athens, Greece"
      studyCenterUrl="https://www.iky.gr/en/"
      additionalInfo={[
        { text: "Awarded to the students achieving the highest GPA in their respective departments nationwide." }
      ]}
    />
    <EdTimeElement
      date="2022-2023"
      educationTitle="Graduate Excellence Honors"
      university="University of Patras, Patras, Greece"
      studyCenterUrl="https://www.upatras.gr/en/"
      additionalInfo={[
        { text: "Granted to the graduates who achieved the highest GPAs in their respective departments and classes." }
      ]}
    />
</BaseLayout>
