---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<meta name="google-site-verification" content="6rFXzqXbYKcgqdETtDqJOM4Usl1T-OKRQiuI5UtmNm8" />

<BaseLayout sideBarActiveItemID="home" image="/Arc2Avatar.jpeg">
  <div class="pb-12 mt-5">
    <div class="text-5xl font-bold">Dimitrios Gerogiannis</div>
    <div class="text-3xl py-3 font-bold">PhD Candidate, Imperial College London</div>
    <div class="py-2">
      <!-- Astrofy message -->
      <!-- Your bio -->
      <p class="text-lg mt-4">
        Hi, I'm Dimitrios. Most people, including me, prefer to call me Dimitris. I am a PhD candidate in the 
        <a 
          href="https://www.imperial.ac.uk/computing" 
          target="_blank" 
          class="font-bold">
          Department of Computing
        </a>
        at 
        <a 
          href="https://www.imperial.ac.uk" 
          target="_blank" 
          class="font-bold">
          Imperial College London
        </a>,
        supervised by 
        <a 
          href="https://www.imperial.ac.uk/people/s.zafeiriou" 
          target="_blank" 
          class="font-bold">
          Professor Stefanos Zafeiriou
        </a>.
        My research lies at the intersection of computer vision and machine learning, with a focus on digital humans. 
        In particular, I work on methods for 3D facial reconstruction from as few as a single image, as well as techniques 
        for animating these avatars. I am also interested in diffusion models, especially human-centric foundation models. 
        Prior to beginning my PhD, I graduated with a Diploma (BSc+MEng) in Computer Science
        from the
        <a 
          href="https://www.ceid.upatras.gr/en/" 
          target="_blank" 
          class="font-bold">
          Computer Engineering and Informatics Department
        </a>
        at the 
        <a 
          href="https://www.upatras.gr/en/" 
          target="_blank" 
          class="font-bold">
          University of Patras
        </a>, where I was supervised by 
        <a 
          href="http://xanthippi.ceid.upatras.gr/people/psarakis/personal_gr.php" 
          target="_blank" 
          class="font-bold">
          Emmanouil Z. Psarakis
        </a>
        for my thesis.
      </p>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">Selected Publications</div>
  </div>
  
  <div class="divider my-4"></div>

  <HorizontalCard
    title="Arc2Avatar: Generating Expressive 3D Avatars from a Single Image via ID Guidance"
    img="/Arc2Avatar.jpeg"
    url="https://arc2avatar.github.io/"
    badge="NEW"
    target="_blank"
    
    authors={[
      { name: "Dimitrios Gerogiannis", homepage: "https://dimgerogiannis.github.io/" },
      { name: "Foivos Paraperas Papantoniou", homepage: "https://foivospar.github.io/" },
      { name: "Rolandos Alexandros Potamias", homepage: "https://rolpotamias.github.io/" },
      { name: "Alexandros Lattas", homepage: "https://alexlattas.com/" },
      { name: "Stefanos Zafeiriou", homepage: "https://profiles.imperial.ac.uk/s.zafeiriou" }
    ]}
    publicationInfo="ArXiv 2025"
    
    arxivUrl="https://arxiv.org/pdf/2501.05379"
    projectUrl="https://arc2avatar.github.io"
    
    bibCitation={`
@article{gerogiannis2025arc2avatar,
  title={Arc2Avatar: Generating Expressive 3D Avatars from a Single Image via ID Guidance},
  author={Gerogiannis, Dimitrios and Papantoniou, Foivos Paraperas and Potamias, Rolandos Alexandros and Lattas, Alexandros and Zafeiriou, Stefanos},
  journal={arXiv preprint arXiv:2501.05379},
  year={2025}
}
    `}
  />


  <div class="divider my-0"></div>

  <HorizontalCard
    title="AnimateMe: 4D Facial Expressions via Diffusion Models"
    img="/AnimateMe.jpeg"
    url="https://arxiv.org/abs/2403.17213"
    badge="ECCV"
    target="_blank"
    
    authors={[
      { name: "Dimitrios Gerogiannis", homepage: "https://dimgerogiannis.github.io/" },
      { name: "Foivos Paraperas Papantoniou", homepage: "https://foivospar.github.io/" },
      { name: "Rolandos Alexandros Potamias", homepage: "https://rolpotamias.github.io/" },
      { name: "Alexandros Lattas", homepage: "https://alexlattas.com/" },
      { name: "Stylianos Moschoglou", homepage: "https://www.doc.ic.ac.uk/~sm3515/" },
      { name: "Stylianos Ploumpis", homepage: "https://www.ploumpis.com/" },
      { name: "Stefanos Zafeiriou", homepage: "https://profiles.imperial.ac.uk/s.zafeiriou" }
    ]}
    publicationInfo="European Conference on Computer Vision (ECCV), 2024"
    
    arxivUrl="https://fq.pkwyx.com/default/https/www.ecva.net/papers/eccv_2024/papers_ECCV/papers/09918.pdf"
    
    bibCitation={`
@inproceedings{gerogiannis2024animateme,
  title={Animateme: 4d facial expressions via diffusion models},
  author={Gerogiannis, Dimitrios and Papantoniou, Foivos Paraperas and Potamias, Rolandos Alexandros and Lattas, Alexandros and Moschoglou, Stylianos and Ploumpis, Stylianos and Zafeiriou, Stefanos},
  booktitle={European Conference on Computer Vision},
  pages={270--287},
  year={2024},
  organization={Springer}
}
    `}
  />


</BaseLayout>
